<div>
  <div>
    <a href="/">Logo</a>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/docs">Docs</a>
  </nav>
  <div>
    <a href="/login">Login</a>
  </div>
</div>