<form action="/" method="post">
  <input type="text" placeholder="Name"/>
  <input type="text" placeholder="@username"/>
  <input type="text" placeholder="Mobile"/>
  <input type="password" placeholder="Password"/>
  <button type="submit">Sign Up</button>
</form>