
header {
  background-color: black;
  color: white;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  padding: 12px 0;
}

header > div > nav {
  display: flex;
  gap: 20px;
}